<h1>Dear [$NAME$],</h1>
<br/>
<h2><font>Profile approved!</font></h2>
<br/>
<p>You profile has been approved, from now you can buy virtual coins from our platform</p>
<br/>
<a href="[$LINK$]" >Click here</a>
<br/>
Best Regards,<br/>
Coinatural