<h1>Dear [$NAME$],</h1>
<br/>
<h2><font color=red>Please confirm</font></h2>
<br/>
<h3>USD: [$USD$]</h3>
<br/>
<h3>BTC: [$BTC$]</h3>
<br/>
<h3>Ewallet: [$EWALLET$]</h3>
<br/>
<a href="[$LINK$]" >Click here</a>
<br/>
Best Regards,<br/>
Coinatural