<h1>Dear [$NAME$],</h1>
<br/>
<h2>Bellow you will find the details of your purchase</h2>
<br/>
<h3>USD: [$USD$]</h3>
<br/>
<h3>BTC: [$BTC$]</h3>
<br/>
<h3>Ewallet: [$EWALLET$]</h3>
<br/>
To view a list of your orders <a href="[$LINK$]" >Click here</a>
<br/>
Best Regards,<br/>
Coinatural